<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table border="2">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td >
            <a th:href="@{/users/{id}(id=${user.getId()})}"
               th:text="${user.getName()}">user</a>
        </td>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
    </tr>
    </tbody>

</table>
<br/>
<hr/>

<a href="/users/new">Create new user</a>

</body>
</html>